<a href="https://colab.research.google.com/github/aarongraybill/Math210/blob/main/Copy_of_ProblemSet2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Math 210
## Aaron Graybill
### Problem Set 6
### 4/8/21

In [12]:
import numpy as np
from scipy.optimize import linprog
import pandas as pd

## Problem 1.

### a.
I convert the problem to a single source problem:

Edges: $\mathcal{E}=\left\{(0,1),(0,2),(0,4),(1,2),(1,3),(2,3),(2,4),(2,5),(3,4),(3,5),(4,5),(4,6),(5,4),(5,6)\right\}$.

Fix the flow on $(0,1),(0,2),(0,4)$ to $30,6,$ and $4$ respectively.

Let the currently unspecified constraint set be $\mathcal{C}$.

Maximize the flow into vertex $6$, so $\max_{x_{\mathcal{E}}\in\mathcal{C}}\left\{x_{46}+x_{56}\right\}$

We have the following constraint set:
\begin{align*}
x_{12}+x_{13}&=x_{01}\\
x_{23}+x_{24}+x_{25}&=x_{02}+x_{12}\\
x_{34}+x_{35}&=x_{13}+x_{23}\\
x_{45}+x_{46}&=x_{24}+x_{34}+x_{54}\\
x_{54}+x_{56}&=x_{25}+x_{35}+x_{45}\\
\end{align*}

In [27]:
a_eq=np.array([
            [-1,0,0,1,1,0,0,0,0,0,0,0,0,0],
            [0,-1,0,-1,0,1,1,1,0,0,0,0,0,0],
            [0,0,0,0,-1,-1,0,0,1,1,0,0,0,0],
            [0,0,0,0,0,0,-1,0,-1,0,1,1,-1,0],
            [0,0,0,0,0,0,0,-1,0,-1,-1,0,1,1],
            [1,0,0,0,0,0,0,0,0,0,0,0,0,0],
            [0,1,0,0,0,0,0,0,0,0,0,0,0,0],
            [0,0,1,0,0,0,0,0,0,0,0,0,0,0]])

b_eq=np.concatenate((np.zeros((5)),[30,6,4]))
print(b_eq)
a_leq=np.identity(14)
b_leq=[100,100,100,14,16,9,3,8,10,6,5,16,4,15]

c=[0,0,0,0,0,0,0,0,0,0,0,-1,0,-1]

linprog(c,A_ub=a_leq,b_ub=b_leq,A_eq=a_eq,b_eq=b_eq)

[ 0.  0.  0.  0.  0. 30.  6.  4.]

/usr/local/lib/python3.7/dist-packages/numpy/core/fromnumeric.py:87: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  return ufunc.reduce(obj, axis, dtype, out, **passkwargs)

     con: array([2.60071640e+01, 3.71530915e+00, 7.36996242e-10, 9.28827286e-01,
       9.28827288e-01, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00])
     fun: -4.419872228913644
 message: 'The algorithm terminated successfully and determined that the problem is infeasible.'
     nit: 4
   slack: array([70.        , 94.        , 96.        , 12.05585812, 13.95130592,
        7.89671993,  1.00428174,  6.8701656 ,  8.15174565,  4.69628021,
        3.62732858, 13.47278483,  3.01525874, 13.10734294])
  status: 2
 success: False
       x: array([30.        ,  6.        ,  4.        ,  1.94414188,  2.04869408,
        1.10328007,  1.99571826,  1.1298344 ,  1.84825435,  1.30371979,
        1.37267142,  2.52721517,  0.98474126,  1.89265706])

In [43]:
names=["(0,1)","(0,2)","(0,4)","(1,2)","(1,3)","(2,3)","(2,4)","(2,5)","(3,4)","(3,5)","(4,5)","(4,6)","(5,4)","(5,6)","=b"]
row_names=["1","2","3","4","5","0,1","0,2","0,4"]
test=pd.DataFrame(np.append(a_eq,np.transpose(np.array([b_eq])),axis=1),columns=names,index=row_names)
test

     (0,1)  (0,2)  (0,4)  (1,2)  (1,3)  ...  (4,5)  (4,6)  (5,4)  (5,6)    =b
1     -1.0    0.0    0.0    1.0    1.0  ...    0.0    0.0    0.0    0.0   0.0
2      0.0   -1.0    0.0   -1.0    0.0  ...    0.0    0.0    0.0    0.0   0.0
3      0.0    0.0    0.0    0.0   -1.0  ...    0.0    0.0    0.0    0.0   0.0
4      0.0    0.0    0.0    0.0    0.0  ...    1.0    1.0   -1.0    0.0   0.0
5      0.0    0.0    0.0    0.0    0.0  ...   -1.0    0.0    1.0    1.0   0.0
0,1    1.0    0.0    0.0    0.0    0.0  ...    0.0    0.0    0.0    0.0  30.0
0,2    0.0    1.0    0.0    0.0    0.0  ...    0.0    0.0    0.0    0.0   6.0
0,4    0.0    0.0    1.0    0.0    0.0  ...    0.0    0.0    0.0    0.0   4.0

[8 rows x 15 columns]